node_modules

/.cache
/build
/public/build
.env
/app/styles/tailwind.css
/api/index.js

.idea
.DS_Store

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vercel
